# gitignore for sydbox
.*.swp
*~
*.[oa]

tags

/sydbox-*

.deps
Makefile.in
Makefile
shave

gmon.out
gprof*

/INSTALL
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.sub
/config.status
/configure
/compile
/depcomp
/install-sh
/missing
/stamp-h1

data/sydbox.1
data/sydbox.1.xml
src/sydbox
src/sydboxctl
src/syscallent.h
src/syscallent32.h
src/syscallent64.h
src/syscall_marshaller.c
src/syscall_marshaller.h
tests/check_sydbox
tests/arnold_layne
tests/its_not_the_same
tests/t01_util_shell_expand
tests/progtests/*.log
tests/progtests/*
!tests/progtests/*.bash
!tests/progtests/*.c
!tests/progtests/Makefile.am
tests/progtests/test-lib.bash

tests/unit/children
tests/unit/path
tests/unit/sydbox-utils
