# gitignore for sydbox
.*.swp
*~
*.[oa]

.deps
Makefile.in
Makefile

/INSTALL
/aclocal.m4
/autom4te.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.sub
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1

src/sydbox
tests/check_sydbox
tests/arnold_layne
tests/its_not_the_same
